info:
  app:
    name: catalog-item-service
    description: Finds metadata and content links about a item

endpoints:
  restart:
    enabled: true
  refresh:
    enabled: true
eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
---
spring:
    profiles: docker

server:
    port: 8080

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/    
